*.pyc
.flatpak-builder
.catalogs
.vscode
build
repo
cambalache.flatpak
cambalache/cambalache.gresource
cambalache/merengue.gresource
cambalache/app.gresource
cambalache/config.py
cambalache/merengue/config.py
cambalache/merengue/merengue
tools/CmbUtils-3.0.gir
tools/CmbUtils-3.0.typelib
tools/CmbUtils-4.0.gir
tools/CmbUtils-4.0.typelib
tools/libcmbutils3.so
tools/libcmbutils4.so
data/gschemas.compiled
data/mime
