*.pyc
cambalacheui/cambalacheui.gresource
cambalacheui/config.py
merengue/merengue.gresource
merengue/config.py
merengue/merengue
src/cambalache.gresource
src/config.py
tools/CmbUtils-3.0.gir
tools/CmbUtils-3.0.typelib
tools/CmbUtils-4.0.gir
tools/CmbUtils-4.0.typelib
tools/libcmbutils3.so
tools/libcmbutils4.so
